@model EntityLayer.User
@{
}
<form action="@Url.Action("UserAdd", "Test")" method="post">

    <div class="input-group mb-3">
        <input asp-for="Email" type="email" class="form-control" placeholder="Email">
        <input asp-for="FirstName" type="text" class="form-control" placeholder="FirstName">
        <input asp-for="LastName" type="text" class="form-control" placeholder="LastName">
        <input asp-for="Password" type="text" class="form-control" placeholder="Password">
        <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Phone">
    </div>


    <div class="row">
        <div class="col align-self-center">
            <button type="submit" class="btn btn-dark btn-block">Register as an Employer</button>
        </div>

    </div>
</form>